@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	background: #E6E7E9;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #888;
}

* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	float: left;
	width: 100%;
	text-align: left;
}

td {
	padding: 10px 10px;
	text-align: left;
	border-bottom: 2px solid #ccc;
}

th {	
	background: white;
	text-align: right;
	border-bottom: 2px solid #ccc;
	padding:0;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a {
	color: #799AC0;
}

a:hover {
	color: #DE2D3A;
}

a:focus {
	outline: none;
}


a.button { 
    background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #4076AB;
}


fieldset {
	display: block;
	margin-top: 10px;
	
}

fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
	margin-top: 5px;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#F0FFF0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.formbtn {
	text-align: center;
	background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
	 width: 13em;  
  height: 3em;

}
.formbtn:hover {
	background-color: #4076AB;
}

.formbtn3 {
	text-align: center;
	background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
	 width: 17.5em;  
  height: 3em;

}
.formbtn3:hover {
	background-color: #4076AB;
}


form.searchform input {
  font-size: 15px;
    padding: 6px;
}

form.searchform p {	margin: 5px 0; }

span.required {
	color: #ff0000;
}

h1 {
	color: #000;
	font-size: 35px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h2 {
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h3 {
	color: #DE2D3A;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Pontano Sans', Arial, sans-serif;
}

h4 {
    font-family: 'Pontano Sans', Arial, sans-serif;
    color: #799AC0;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 100%;
	margin: auto;
	padding:0;
	background-color: #fff;
}

header {
	padding: 35px 0;
	background-color: #191970;
	margin: 0 auto;
	text-align:center;
}

header h1 a, header h1 a:hover {
 color: #FFFFFF;
    font-size: 150%;
    font-weight: normal;
    letter-spacing: 0px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span {	font-style: italic; 
	color: #90EE90;
}

header h2 {
	color: white;
	font-size: 100%;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}

nav {
	height: 60px;
	background-color: #191970;
}

nav ul {

	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	text-align: center;	float: left;	display: inline-block;	padding: 0; 
	background-color: black;	width: 150px;	position:relative;
}

nav ul li.right {	float: right;	width: 175px;	border: 0;	text-align: center;	padding: 0px;	background-color: #191970;}
nav ul li.right a img {	float: left;}

nav ul li.search {	padding: 0;	float: right;	width:20%;	border: 0;	display: inline-block;	background-color: #191970;}
nav ul li.search form.searchform {	float: left;	}
nav ul li.search form table tr td {	width:0;	margin:0px;	border: 0px;	padding: 0;	background-color: #191970;}
nav ul li.search form table tr td p input {	background: white;	}
nav ul li.search form table tr td input.img { width: 20px;	height:20px;	background: orange;}
nav ul li.right a, nav ul li.right a:hover {
	border: 0;	text-align: center;	width:0px;	display: inline-block;	padding: 0px;	background-color: #191970;	
}	
nav ul li.right a.myorders {	text-align: center;	float: right;	display: inline-block;
	background-color: black;	width: 100px;	position:relative;	color: #F5F5DC;
		margin: 0;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
	border:1px solid #668CB7;
}
nav ul li.right a.myorders:hover {
color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}

nav ul li.right a.selected {	background-color: #4076AB;
	color: #fff; 
	font-weight:bold;
 }



nav ul li a {
	color: #F5F5DC;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 80%;
    letter-spacing: 0;
   margin: 0;
    padding: 20px 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
	border:1px solid #668CB7;
}
nav ul li a.selected,
nav ul li a.selected:hover { 
	background-color: #4076AB;
	color: #fff; 
	font-weight:bold;
}


nav ul li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}


nav ul li ul.dd1 {
	width: 100%;        background: #4076AB;        display: none;        position: absolute;
	z-index: 999;	left: 0;      	
}

nav ul li:hover ul.dd1 {
	display: inline-block;
}

nav ul li ul.dd1 li {
	display: inline-block;	background-color: white;
	float: left;	padding: 0;	position: relative;
}

nav ul li ul.dd1 li a {
	color: red;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
   margin: 0;
    padding: 20px 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
	border-right:1px solid #668CB7;
}

nav ul li ul.dd1 li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}

nav ul li ul.dd1 li ul.dd2 {
	width: 100%;        background: #4076AB;        display: none;        position: absolute;
        z-index: auto;        left: 100%;	top: -1%;
}

nav ul li ul.dd1 li:hover ul.dd2 {
	display: inline-block;
}

nav ul li ul.dd1 li:hover ul.dd2 li {
	display: inline-block;	background-color: #FAFAD2;
	float: right;	padding: 0;	position: relative; 	left: auto;
}

nav ul li ul.dd1 li:hover ul.dd2 li a {
	color: black;
    display: block;
    font-family: 'Pontano Sans',Arial,sans-serif;
    font-size: 13px;
    letter-spacing: 0;
   margin: 0;
    padding: 20px 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
	border-right:1px solid #668CB7;
}

nav ul li ul.dd1 li:hover ul.dd2 li a:hover {
	color: #fff;
	background-color: #4076AB;
	text-decoration: none;
}

img.header-image { 
	padding-top: 0px;
	margin-bottom: -5px; 
	width: 100%;
	height: 350px;
}

#body {
	background: none;
	margin: 0;
 	padding: 0;
	clear: both;
}

#content {
 min-height:1080px;	float: right;
    width: 85%;	margin-top: 15px;	background:white;
}
#content table tr td {	border-bottom: 2px solid #ddd;	float: center;	width: 50%;	text-align:center;}
#content table tr th {	border-bottom: 2px solid #ddd;	float: right;	width:5%;	}

#review {min-height:1080px;
    float: right;
    width: 85%;	margin-top: 15px;	background:white;
}
#review form table tr td {	padding:40px 40px	text-align:left;	border: 0;	color: #B8860B;	float:left;	width:15%;	font-weight: bold;}
#review form table tr td.radio {	color: black;	font-size: 16px;}
#review form table tr td input.formbtn {	background-color: #799AC0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF; width: 11em;  
  
	height: 3em;
	text-align: left;	font-size: 14px;	}
#review form table tr td input.formbtn:hover {
	background-color: #4076AB;
}

#login {min-height:1080px;	text-align:left;	color:black;	padding:0;	float:right;	width:65%;	}
h4 {padding:100px 100px;	color:black;	}
input {	height: 20px;	}
select {font-size:16px;	}
h5 {color:black;	}
#login p a { color:blue;	}
#login p a:hover{ color:red;	}	
#login table tr td {padding:0;	float:left;	width:25%;	border:0;	}

#rc {
float: right;	width: 73%;	min-height: 1080px;
}

#review-content{
float: left;	width: 75%;	min-height: 1080px;
}

#rct{
float: left;	width: 75%;
}

article h2 { 
    padding-bottom: 0;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

article {
    border-bottom: 0px solid #ddd;
    padding: 10px 10px 20px 10px;
 }

article h3 { 
  color: #000000;  padding-bottom: 0;
}
article p { color: #000000;}

.sidebar {
    float: left;
    width: 15%;
	margin-top: 0px;
}

.sidebar h4 {
	text-align: center;	padding-bottom: 0;
	font-size: 100%;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 7px;
	border-bottom: 1px solid #A31923;
  
		margin-top:35px;		background-color: green;
}

.sidebar ul {
	margin: 5px;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 0px;
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside: none;
    margin: 0px;
}

.sidebar li ul li {	background-color:  #ddd;
	display: block;
	border-top: none;
	padding: 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13.5px;
}

.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li ul li a {
	color: #0000FF;
	font-weight: normal; 
}

.sidebar li ul li a:hover {
	color: #DC143C;
}


.sidebar li ul li a.readmore {
   color: #799AC0;
   font-weight: bold;
}




.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 100%;
}

.footer-content {	margin-right:0;
	padding: 0;
	background: #ddd;
	border-top: 1px solid #DB2C39;
	text-align: center;
}

.footer-content h5 a {
	color: #0000FF;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

.footer-content h5 a:hover {
	color: #DC143C;
}

footer .footer-bottom {	margin-right:0;
	padding: 0;
	text-align: center;
	background-color: #191970;
}


footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee; }


.submit-button {
	padding:5px 5px;  color: #900;
  font-weight: bold;
  width: 10em;  
  height: 2em;
}
 

.s {	height: 2em;}

.query-table{
	width: 100%;
	text-align: left;
}

.query-table article {
    border: 0;
    padding: 10px 10px 20px 10px;
 }

.query-table th, td {
	padding: 5px 5px;
}

.query-table th {
	color: #fff;
	background: #799AC0;
}

.query-table td {
	border: 1px solid #ccc;
	color: brown;
}
.query-table tr td.tle {
text-align: center;	height:40px;	border: none;	font-size:20px;	background:lightblue;
}
.query-table tr td.nb {
border: none;	height: 60px;	float: center;
}
.query-table tr td input { height: 2.2em;	}

.my-table {	width: 100%;	text-align: left;	float: left;	margin-bottom: 15px;	}
.my-table td { padding: 5px 5px;	margin: 0;	border: 1px solid #ccc;	color: brown;	float: left;	width:15%;	}
.my-table tr td.nb {
border: none;	height: 60px;	float: center;
}
.mo { margin-top: 15px;	}
.ml { margin-left: 195px;	}
.my-table1 {	width: 100%;	text-align: left;	float: left;	margin-bottom: 15px;	}
.my-table1 td { padding: 5px 5px;	margin: 0;	border: 1px solid #ccc;	color: brown;	float: left;	width:30%;	}

.tp {	margin-bottom: 25px;	}
.invalid {margin: 0 0 0 15px;	color:red;	}
.s1 {	height: 8px;	}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.tp {	margin-bottom: 25px;	}

.popupBox {
  position: absolute;
  left: -2px; margin-top:-140px;   width: 174px;
	}


.popupCell {
   background-color: black;
}


.popupCell:hover {
  background-color: #f5ebe9;
}


.popupItem {
  background-color: black;	color: white;
  text-decoration: none;
  font-size: 1.2em;
	padding:10px 10px;	text-transform: none;	}

